.container--navbar {
}

.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-st;
    margin-top: 1rem;
    /* margin-left: 0.5rem; */
    padding: 2rem;
    /* background-color: #5E6472; */
    font-size: large;
}

.navbar__item {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-basis: 20%;
    list-style-type: none;
    max-width: 100rem;
}

.navbar__logo {
    max-height: 6rem;
}

.navbar__link {
    /* color: whitesmoke; */
    text-decoration: none;
    font-weight: bolder;
}

.navbar__link:hover {
    /* color: #FFA69E; */
}

.navbar__item__fakeLink {
    /* display: flex;
    color: #AED9E0;
    background-color: #5E6472;
    text-decoration: none;
    font-weight: bolder;
    font-size: large;
    border: none; */
}

.navbar__item__fakeLink:hover {
    background-color: transparent;
    color: #FFA69E;
}

/* .fakeLink {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
    background: none!important;
    border: none;
    cursor: pointer;
}

.fakeLink:hover {
    font-weight: bold;
} */